@font-face {
    font-family: "Grpahik Medium";
    src: url("../../../assets-qa/fonts/Graphik/GraphikMedium.otf");
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.spinner i{
    display: inline-block;
    animation: spin infinite linear 5000ms;
}
.isLoading{
    opacity: 0.6;
}
button.qaBtn1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    transition: all .5s ease-in-out;
    font-family: "Grpahik Medium";
}
button.medium{
    min-width: 130px;
    padding: 8px 20px;
}
button.small{
    min-width: 70px;
    padding: 6px 10px;
}
button.qaBtn1 .btnIcon{
    padding-right: 10px;
    font-size: 12px;
}
button.secondary:hover,
button.primary{
    background-color: #2394ae;
    border: 2px solid #2394ae;
}
button.primary:hover,
button.secondary{
    background-color: #cf212f;
    border: 2px solid #cf212f;
}
button.white{
    background-color: #fff;
    border: 2px solid #fff;
    color: #2394ae;
}
button.outlined:hover,
button.transparent:hover,
button.transparent{
    background-color: transparent;
}
button.outlined{
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}
button.outlined:hover{
    color: #cf212f;
    border: 2px solid #cf212f;
}
button.outlined.secondary:hover,
button.outlined.primary{
    color: #2394ae;
    border: 2px solid #2394ae;
}
button.outlined.primary:hover,
button.outlined.secondary{
    color: #cf212f;
    border: 2px solid #cf212f;
}
button.transparent.gray{
    background-color: transparent;
    color: #929292;
    border: none;
}
button.transparent.gray:hover{
    color: #000;
}