.Group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  .grpImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .grpName{
    h4{
      color: #000000;
    }
    p{
      color: #959595;
    }
  }
}
.Group.small{
  .grpName{
    h4{
      font-size: 15px;
    }
    p{
      font-size: 13px;
    }
  }
}
.Group.larger{
  .grpName{
    h4{
      font-size: 22px;
    }
    p{
      font-size: 16px;
    }
  }
}
