.userRoleMain{
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    .alreadyHaveAcc{
        font-size: 20px;
        font-family: 'Graphik Regular';
        color: #929292;
        margin: 20px 0 0;
        a{
            color: #bf161f;
            padding-left: 10px;
        }
    }
}